/*
Landing section item
*/
.landing{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    padding: 20pt;
    position: relative;
}

.landing>div{
    width: 100%;
    height: calc(100%/3);
}

.landing .header{
    width: 75%;
}

.landing .register a{
    position: absolute;
    right: 20pt;
    bottom: 50%;
    text-align: right;
}

.landing .date-wrapper{
    position: absolute;
    bottom: 20pt;
}

/*
Program Overview
*/

.overview{
    padding: 20pt;
}

.overview div{
    padding-top: 20pt;
}